/*Yiqun Ding
SMACC architecture
base > layout > modules > state*/

/* ******************************
   Base Styles
   ****************************** */

h2{
	color: darkred;
	word-spacing: 5px;
	font-size: 30px;
	font-style: italic;
	border-left-style: solid;
	padding-left: 5px;
	font-family: 'Allerta Stencil', sans-serif;

}

label {
	font-size:18px;
	line-height: 2em;
}

p {
	padding-top: 10px;
	font-family: Arial, Helvetica, sans-serif;
	line-height: 1.5em;
	font-size: 15px;
}

footer{
	background-color: #22311d;
	color: grey;
	text-align: center;
	font-size: 15px;
	margin-top: 140px;
	padding-top: 50px;
	padding-bottom: 50px;
	font-family: "Arial Black", Gadget, sans-serif;
}


/*************************************************************
MODULES LAYOUT
*************************************************************/

.sign{
	padding: 10px 25px;
 	font-size: 20px;
	text-align: center; 
	outline: none;
	color: green;
	background-color: khaki;
	border: none;
	border-radius: 15px;
	box-shadow: 0 9px #999;
	text-decoration: none;
	font-weight: bold;
	font-family: 'Stardos Stencil', cursive;
}

.if{
	text-align: center;
}

.container {
	margin: 0 auto;
	width: 90%;
	max-width: 960px;
	display: grid;
	grid-gap: 10px;
	grid-template-columns: 1fr 1fr 2fr;
	font-family: 'Stardos Stencil', cursive;
    color: black;
}

.banner{
	background-color: green;
	height: 140px;
}

.logo{
	float: left;
}

.pic{
  	border: 2px solid green;
  	border-radius: 4px;
  	padding: 5px;
  	width: 500px;
  	height: 360px;
  	margin-left: 100px;
  	padding-bottom: 5px;
  	margin-top: 50px;
 	display: inline-block;
}

.apic{
	border: 2px solid green;
  	border-radius: 4px;
  	padding: 5px;
  	width: 500px;
  	height: 360px;
  	margin-left: 20px;
  	margin-right:20px;
  	padding-bottom: 5px;
  	margin-top: 30px;
 	display: inline-block;
}	

.force{
	padding-bottom: 50px;
}

.news{
	padding-bottom: 20px;
	font-weight: bold;
	font-size:20px;
}


.form{
	padding-bottom: 200px;
}

.email{
	margin-bottom: 50px;
}

/* ******************************
   Modules Styles
   ****************************** */

.banner a{
	text-decoration: none;
}

.banner h1{
	font-size: 50px;
	border-bottom-style: double;
	margin-top: 0px;
	color: #F0E68C;
	font-family: 'Allerta Stencil', sans-serif;
}

.form input{
	padding-right: 200px;
}

/* ******************************
   State Styles
   ****************************** */

.sign:hover{
	background-color: green;
	color: white;
}

@media (max-width: 540px){
	.banner h1{
		font-size: 40px;
	}
	.container img{
		width: 100%;
		height: auto;
	}
}

